.App {
  text-align: center;
  padding: 10px;
  color: white;
}

.App-activation {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
}

.itemListWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 16px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #999;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #999;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}

.enable-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skipVideoButton {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #3b82f6;
  border-radius: 0.5rem;
  border-width: 1px;
}

.skipVideoButton:hover {
  filter: brightness(85%);
  cursor: pointer;
}
